@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f1faee;
  color: #1e293b;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
